@charset "UTF-8";

body {
  font-family: 'MS PMincho', 'MS Mincho', 'Yu Mincho', sans-serif;
  font: size 16px;
}

a {
  text-decoration: none;
  color: #333;
}

.header {
  margin: 0 auto;
  text-align: center;
  margin: 5%;
}

.header h1 {
  font-size: 64px;
  letter-spacing: -0.05em;
}

.header a {
  font-size: 24px;
}

.list ul {
  display: flex;
  list-style: none;
}

.list ul li {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  border-right: 1px solid #ddd;
}


.list ul li a {
  display: block;
  font-size: 24px;
  ;
}

.header_img img {
  margin: 0 auto;
  width: 100%;
  height: px;
}

.main {
  width: 70%;
  margin: 0 auto;
}

.info {
  text-align: center;
  margin-bottom: 30px;
}

.info h1 {
  margin-bottom: 30px;
}

.info_box {
  border: 1px solid black;
  height: 300px;
}

.map {
  text-align: center;
}

.map h1 {
  margin-bottom: 30px;
}

.about {
  text-align: center;
  margin-bottom: 30px;
}


.about h1 {
  margin-bottom: 30px;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
}

.box div {
  align-self: center;
  border: 1px solid black;
  height: 300px;

}

.access {
  font-size: 20px;
  list-style: none;
}
